.allShowsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

.showWrapper {
    margin-bottom: 50px;
}

.imgAndDesc {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.imgAndDesc div {
    width: 50%;
}

.imgAndDesc div img {
    width: 100%;
}

.imgAndDesc .showDesc {
    width: 60%;
}
.imgAndDesc .showDesc h1 {
    font-size: 20px;
    margin-bottom: 0;
    color: white;
}

@media screen and (max-width: 750px) {
    .imgAndDesc {
        flex-direction: column;
    }
    .imgAndDesc div {
        width: 100%;
    }
    .imgAndDesc .showDesc {
        width: 100%;
    }
}
    
